@import '~normalize.css';
@import './table/table.scss';
@import './header/header.scss';

html {
    box-sizing: border-box;
}

body {
    background-color: #595959;
    height: 1500px;
}

*, :before, :after {
    box-sizing: inherit;
}

input, button {
    outline: none;
}

.main {
    width: 70%;
    margin:0 auto;
}

.dick {
    color:black;
}